*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:  'Roboto',sans-serif;
    text-decoration: none;
    list-style: none;
}

body{
    margin:2% 12% 0 12%;
   
    font-weight: 400;
}

.main-container{
    
    display: flex;
    text-align: center;
    width: 100%;
    margin-top: 3%;
    
    
    
}
.main-container-img{
    
    display: flex;
    align-items: center;
    margin-top: 5px;
    
    
}
.main-container-img a img{
    width: 200px;
    cursor: pointer;
}
.btn{
    
    padding: 5px;
    background-color:black;
    display: none;
    border-radius: 20%;
    
}
.btn i{
    color: white;
}
.nav-links{
    width: 100%;
    display: flex;
    
    align-items: center;

    
}
.nav-links-1{

    justify-content: center;
    margin-top: 4%;
    width: 100%;
    display: block;
    text-align: center;
 
   display:none;
    
}
.nav-links-1 li{
    border-top: 1px solid gray;
    padding: 2.3%;
}

.nav-links-1 a{

    width: 100%;
   
    font-family: 'Nunito',sans-serif;
    text-transform: capitalize;
    color: black;
    font-style: bold;
    font-weight: 550;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 21px;

}
.nav-links a{
    
    font-family: 'Nunito',sans-serif;
    text-transform: capitalize;
    color: black;
    font-style: bold;
    font-weight: 550;
    cursor: pointer;
    margin-left:25px;
    font-size: 16px;

}
.contact{
    width: 100%;
  text-align: end;
}
.nav-links :hover a{
    color: #645cff;
    transition: 1s;
}
.nav-links-1 :hover a{
    color: #645cff;
    transition: 1s;
}
.contact{
    width: 100%;
  text-align: end;
  
}

  .contact button{
    
    background-color: #645cff;
    border: 0;
    outline: 0;
    color: white;
    border-radius: 5%;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    padding-left: 18px;
    padding-right: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 33px;
    font-size: 18px;
    cursor: pointer;
} 
.contact-1{
    width: 100%;
  text-align: center;
    

    border-top: 1px solid gray;

}

.contact-1 button{
    
    background-color: #645cff;
    border: 0;
    outline: 0;
    color: white;
    border-radius: 5%;
    text-align: center;
    text-transform: capitalize;
    font-weight: 400;
    padding-left: 18px;
    padding-right: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 33px;
    font-size: 18px;
    cursor: pointer;
    margin-top: 2%;
}

 button:hover{

    background-color: #1b158a;
}

.about-container{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin-top: 5%;
}
.about-textside{
    
   width: 100%;
}
.about-textside h3{
    margin: 10% 0% 4% 0%;
    text-transform: none;
   font-weight: bold;
   font-size: 2rem;
   line-height: 1.3;
   letter-spacing: 1px;
   
 }
.about-textside .about-para1{
    font-family: 'Nunito',sans-serif;
    font-size: 17px;
    margin: 1% 0% 4% 0%;
 }
 .about-textside .about-para2{
    font-family: 'Nunito',sans-serif;
    font-size: 17px;
    margin: 0% 0% 5% 0%;
 }

 .about-textside .bt{
    width: 100%;

    background-color: #645cff;
    color: white;
    font-size: 18px;
    text-transform: capitalize;
    padding: 1.8% 2.5% 1.8% 2.5%;
    border-radius: 6%;
 }

.about-contactside{
    width: 100%;
  
    background-color: white;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    
 
}
.about-loginside{

     width: 100%;
   
    padding: 2rem 2.5rem;
    display: block;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
   
}
.about-loginside label{
    
    font-size: 0.8rem;
    text-transform: capitalize;
    font-family: 'Roboto',sans-serif;
}
.about-loginside input{
    margin-top: 3%;
    background-color:#f8fafc;
    border: 1px solid #e2e8f0;
    width: 100%;
    line-height: 1.2rem;
    border-radius: 3px;
    font-family: 'Nunito',sans-serif;
    color: black;
    font-size: 1rem;
    
    padding: 2%;
}

.about-loginside .login{
    margin-top: 2%;
}

.about-loginside textarea{
    margin-top: 3%;
    background-color:#f8fafc;
    border: 1px solid #e2e8f0;
    width: 100%;
    line-height: 40px;
    border-radius: 3px;
    font-family: 'Nunito',sans-serif;
    color: black;
    font-size: 1rem;
    
    padding: 2%;
}
.contact-btn{
    border: 0;
    outline: 0;
    margin-top: 7%;
    padding: 2.3%;
    color: white;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    background-color: #645cff;
    border-radius: 3px;
}

.about-features{
    margin-top: 5%;
    order:3;
}
.about-features h4{
    font-size: 20px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: capitalize;
    
}
.recipes-list{
    
    width: 100%;
    margin-top: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}
.recipes-list img{
    width: 100%;
    object-fit: cover;
    height: 10rem;
    border-radius: 1.5%;
}

.recipes h5{
    font-family: 'Nunito',sans-serif;
    font-size: 1.15rem;
    color: black;
    font-weight: 400;
    text-align: start;
}
.recipes p{
    text-align: start;
    font-size: 1rem;
    margin-top: 0.25rem;
    font-weight: 300;
    color: rgb(118, 117, 117);
}
.last-container{
    width: 100%;

    display: flex;
    background-color: black;
    height: 4rem;
    margin-top: 12%;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
.first-p{
    
    color: white;
}
.logo{
    color: #645cff;
}
.last-container a{
    color: #645cff;
}

@media(max-width:1280px)
{
    body{
        margin: 1% 5% 0% 5%;
    }
}
@media(max-width:1200px)
{
   .recipes-list{
    grid-template-columns: 1fr 1fr;
   } 
}
@media(max-width:991px)
{
.about-container{
    grid-template-columns: 1fr;
}

}
@media(max-width:960px)
{
    
    .active{
        display: block;
        
    }
    .nav-links{
        display:none;
    }
    .btn{
     display: block;   
    }
    
    .main-container-img{
        width: 100%;
        justify-content: space-between;
    }

}
@media(max-width:750px)
{

    .nav-links-1{
        margin-top: 10%;
    }
    .nav-links-1 li{
        
        padding: 2.5%;
    }
}
@media(max-width:550px)
{

    .nav-links-1{
        margin-top: 10%;
    }
    .nav-links-1 li{
        
        padding: 5%;
    }
}
@media(max-width:575px)
{
    .recipes-list{
        grid-template-columns: 1fr;
       }
   
}
@media(max-width:484px)
{
   
    .nav-links-1{
        margin-top: 7%;
    }
    .nav-links-1 li{
        
        padding: 4%;
    }
}